---
layout: index
---
<div class="ticker" style="display:none">
{{ content }}
</div>
<form class="pure-form" id="CPSearch">
    <input type="text" class="" id='ticker' value='SPY' style="text-transform:uppercase;">
    <button type="submit" class="pure-button pure-button-primary">Search</button>
</form>
<div id="dashboard" class="pure-g-r">
	
</div>
<div id="wait" style="position:fixed; top:250px; font-size:60px;">
		loading...
</div>
<div id="chart" class="CP"></div>
<div class="note">
   <p>* Data from Yahoo Finance. </p>
   <p>* Options data may not accurate! </p>
</div>


<script type="text/template" id='quote'>
	<div class="quote pure-u-2-5">
		<div class="l-box">
			<div class="header">
				<h2> <%= quote.Symbol %> <span> <%=quote.Name%> </span> </h2>
			</div>
			<p class="last"> 
				Last:
				<%= quote.LastTradeWithTime %> </p>
			<p class='change'> 
				Change: 
				<%= quote.Change_PercentChange %> 
			</p>
			<p class='change'> 
				Average Vol:
				<%= quote.AverageDailyVolume %> 
			</p>
			<p class='chain'> 
				Chain Expire:
				<%= quote.expire %> 
			</p>
		</div>
	</div>
</script>
<link rel="stylesheet" type="text/css" href="/css/c3.css">
<script src="/js/d3.v3.min.js"></script>
<script src="/js/c3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script type='text/javascript'>
	function optionChain(chain) {
		_.each(chain, function(o) {
			o.vol = parseInt(o.vol);
		});
		options = _.groupBy(chain, 'type');
		calls = _.indexBy(options.C, 'strikePrice');
		puts = _.indexBy(options.P, 'strikePrice');
		strikes = _.sortBy(
			_.intersection(_.keys(calls), _.keys(puts)), 
			function(a){return parseFloat(a)});
		//console.log(calls)
		options = _.map(strikes, function(s) {
			return [s, calls[s].vol, puts[s].vol]
		})
		options.unshift(['strikePrice', 'Call Vol', 'Put Vol'])
		//console.log(options)
		return options;
		
	}

	function startCP(t) {
		console.log(t);
		$("#wait").show();
		$("#chart").html("");
		$("#dashboard").html("");
		d3.json("http://query.yahooapis.com/v1/public/yql?q=SELECT%20*%20FROM%20yahoo.finance.option_contracts%20WHERE%20symbol%3D'"+t+"'&diagnostics=true&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys", function(data) {
			//console.log(data.query)
			if (data.query.results) {
				var ticker = data.query.results.option.symbol;
				var contracts = data.query.results.option.contract;
				console.log("contract OK");
				d3.json("http://query.yahooapis.com/v1/public/yql?q=SELECT%20*%20FROM%20yahoo.finance.options%20WHERE%20symbol%3D'"+ticker+"'%20AND%20expiration%3D'"+contracts[0]+"'&format=json&diagnostics=true&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys&callback=", function(data) {
					if (data.query.results) {
						console.log("chain OK");
						var chain = data.query.results.optionsChain;
						//console.log(chain);
						var expire = chain.expiration;
						var options = chain.option;
						d3.json("http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%20%3D%20%22"+ticker+"%22&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys&callback=", 
							function(quote){
								var quote = quote.query.results.quote;
								var spot = parseFloat(quote.LastTradePriceOnly);
								quote.expire = expire;
								$("#wait").hide();
								c3.generate({
									data:{
										x: 'strikePrice',
										rows: optionChain(options),
										type: 'bar'
									},
									grid: {
										x:{
											lines:[{value: spot, text:"Spot"}]
										}
									},
									tooltip:{
										format:{
											title: function (d) { 
												return 'Strike $ ' + d; },
            								value: d3.format(',')
										}
									}
								});
								//console.log(quote);
								var tpl = $("#quote").html();
								$("#dashboard").html(_.template(tpl, {quote:quote}));
						});
						
					}
				})
			}
			
		})
	}
</script>
